interactions:
- request:
    body: null
    headers:
      Authorization: [Basic YWRtaW46MTIzNDU=]
    method: GET
    uri: http://local.docker:8153/go/pipelines/Shared_Services/6/Commit/1.xml
  response:
    body: {string: '<html><body>You are being <a href="http://local.docker:8153/go/api/stages/80.xml">redirected</a>.</body></html>'}
    headers:
      Content-Type: [application/xml; charset=utf-8]
      Location: ['http://local.docker:8153/go/api/stages/80.xml']
    status: {code: 302, message: Found}
- request:
    body: null
    headers:
      Authorization: [Basic YWRtaW46MTIzNDU=]
    method: GET
    uri: http://local.docker:8153/go/api/stages/80.xml
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<stage name=\"Commit\"
        counter=\"1\">\n  <link rel=\"self\" href=\"http://local.docker:8153/go/api/stages/80.xml\"/>\n
        \ <id><![CDATA[urn:x-go.studios.thoughtworks.com:stage-id:Shared_Services:6:Commit:1]]></id>\n
        \ <pipeline name=\"Shared_Services\" counter=\"6\" label=\"6\" href=\"http://local.docker:8153/go/api/pipelines/Shared_Services/37.xml\"/>\n
        \ <updated>2015-08-05T16:09:07Z</updated>\n  <result>Passed</result>\n  <state>Completed</state>\n
        \ <approvedBy><![CDATA[changes]]></approvedBy>\n  <jobs>\n    <job href=\"http://local.docker:8153/go/api/jobs/108.xml\"/>\n
        \ </jobs>\n</stage>\n"}
    headers:
      Content-Type: [application/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
