interactions:
- request:
    body: null
    headers:
      Authorization: [Basic YWRtaW46MTIzNDU=]
    method: GET
    uri: http://local.docker:8153/go/api/stages/11.xml
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<stage name=\"Commit\"
        counter=\"1\">\n  <link rel=\"self\" href=\"http://local.docker:8153/go/api/stages/11.xml\"/>\n
        \ <id><![CDATA[urn:x-go.studios.thoughtworks.com:stage-id:Shared_Services:3:Commit:1]]></id>\n
        \ <pipeline name=\"Shared_Services\" counter=\"3\" label=\"3\" href=\"http://local.docker:8153/go/api/pipelines/Shared_Services/5.xml\"/>\n
        \ <updated>2015-08-05T15:24:15Z</updated>\n  <result>Passed</result>\n  <state>Completed</state>\n
        \ <approvedBy><![CDATA[changes]]></approvedBy>\n  <jobs>\n    <job href=\"http://local.docker:8153/go/api/jobs/11.xml\"/>\n
        \ </jobs>\n</stage>\n"}
    headers:
      Content-Type: [application/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
